html, body
{
    margin: 0;
    padding: 0;
}

main, body
{
    margin: auto;
}

/**
        HEADER:
 */

header
{
    margin:auto;
}

header h1
{
    text-align: center;
}


/**
        OM PROSJEKT DELEN:
 */

#about{
    width: 100%;
}

#about div, #resources{
    max-width: 800px;
    margin: auto;
}

#diary h2, #about h2, #resources h2
{
    font-size: 1.9em;
    margin-bottom: 0px;
}

#diary h3, #about h3
{
    font-size: 0.8em;
    margin-top: 0px;
}

#diary p, #about p, td
{
    font-family:  Helvetica, Arial;
}
/**
        OM OSS DELEN:
 */

#us {
    text-align: center;

    background: url("https://s-media-cache-ak0.pinimg.com/originals/f5/68/75/f568753d25224271b5cb882f926cfe6b.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

#us div {
    width: 200px;
    display: inline-block;
    margin: 30px 15px 30px 15px;


    box-shadow: 0px 0px 5px #000000;


    border-radius: 10px 10px 10px 10px;
}

#us div img {
    width: 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

#us h2 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
}

#us h4 {
    text-align: center;
    font-size: 0.7em;
    margin-top: 0;
}

#us p {
    padding: 0px 15px 0px 15px;
}

/**
        DAGBOK DELEN:
 */
#diary {
    max-width: 800px;
    margin: auto;
}

#diary .date {
    width: 75px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


#diary article
{
    max-width: 600px;
    margin: 10px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;

}
#message
{
    position: fixed;
    height: 100%;
    width: 100%;
}
#message h2
{
    text-align: center !important;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
